<div class="signup">
    <mat-card class="signup-card">
        <mat-card-title>Get started</mat-card-title>
        <mat-card-content>Start your 30-day free trial.</mat-card-content>
        <form class="form">
            <mat-form-field color="accent" class="input">
                <mat-label>Email Adress</mat-label>
                <input type="email" matInput placeholder="Ex. name@example.com">
            </mat-form-field>
            <mat-form-field color="accent" class="input">
                <mat-label>First Name</mat-label>
                <input type="text" matInput placeholder="Ex. Joe">
            </mat-form-field>
            <mat-form-field color="accent" class="input">
                <mat-label>Last Name</mat-label>
                <input type="text" matInput placeholder="Ex. Doe">
            </mat-form-field>
            <mat-form-field color="accent" class="input">
                <mat-label>Password</mat-label>
                <input type="password" name="password" matInput placeholder="Write a secure password">
            </mat-form-field>
            <button type="button" mat-raised-button color="accent">Create account</button>
            <div class="login-method">
                <mat-card-content>Already have an account? <a routerLink="/login" class="logo-marking">Log in</a></mat-card-content>
            </div>
        </form>
    </mat-card>
</div>