<div>
    <mat-toolbar>
        <h2>teamtas<span class="logo-marking">k</span>ing.</h2>
        <span class="example-spacer"></span>
        <div class="button-row">
            <button routerLink="/login" mat-button>Log in</button>
            <button routerLink="/signup" mat-stroked-button color="accent">Sign up</button>
        </div>
    </mat-toolbar>
    <div class="dashboard">
        <h1><span class="underline-decor">manage</span> your team's tasks <span
                class="logo-marking">faster</span></h1>
        <h3>All tasks, meetings and annual plans in one place.</h3>
    </div>
</div>