@import "src/assets/styles/mixins";
@import "src/assets/styles/variables";

@include underline-decor(105%, 0.8rem, 0.875rem);

$radius-panels: .9375rem;

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background: $white;
    border-bottom: 2px solid $border;
}

.navigation-btn {
    display: flex;
    gap: .5rem;
}

.dashboard {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-bottom: 4rem;

    h1 {
        max-width: 800px;
        margin: 5rem auto 3rem auto;
        font-size: 5rem;
    }

    .images {
        max-width: 1400px;
        margin: auto;
        display: flex;
        flex-direction: row;
        gap: .5rem;
        padding-top: 2rem;

        .tryit-btn {
            position: relative;

            .decor-btn {
                border-radius: $radius-panels;
                background-color: $grey-1;
                border: 2px solid $black;
                padding: 1rem .5rem .3rem .5rem;
                width: 70%;
                margin: auto;

                p {
                    text-align: center;
                    font-size: .7rem;
                }

                .mat-raised-button {
                    width: 90%;
                    padding: .3rem;
                }
            }

            .motto-img {
                position: absolute;
                width: 100%;
                bottom: 0;
            }
        }

        div:not(.tryit-btn) {
            align-self: flex-end;
        }

        div {
            flex: 1;

            img {
                border-radius: 1.25rem;
                width: 100%;
            }
        }
    }
}

@media (max-width: 1000px) {
    .dashboard {
        padding-bottom: 2px;

        h1 {
            font-size: 3rem;
        }

        .images {
            flex-direction: column;
            position: relative;

            .tryit-btn {
                .decor-btn {
                    margin-bottom: 2rem;
                    width: unset;
                }

                .motto-img {
                    position: unset;
                }
            }

            div:not(.tryit-btn),
            .tryit-btn {
                align-self: center;
            }

            div {
                width: 60%;
                padding-bottom: 1rem;
            }
        }
    }
}

@media (max-width: 575px) {
    .dashboard {
        .images {
            div {
                width: 100%;
            }
        }
    }
}

@media (max-width: 325px) {
    .dashboard {
        h1 {
            font-size: 2rem;
        }

        h3 {
            font-size: .9rem;
        }
    }
}