<div>
    <mat-toolbar>
        <h2>teamtas<span class="logo-marking">k</span>ing.</h2>
        <span class="spacer"></span>
        <div class="navigation-btn">
            <button routerLink="/login" mat-button>Log in</button>
            <button routerLink="/signup" mat-stroked-button color="warn">Sign up</button>
        </div>
    </mat-toolbar>
    <div class="dashboard">
        <h1><span class="underline-decor">manage</span> your team's tasks <span
                class="logo-marking">faster</span></h1>
        <h3>All tasks, meetings and annual plans in one place.</h3>
        <div class="images">
            <div>
                <img loading="lazy" class="unselectable" src="/assets/images/dashboard/dashboard-calendar.svg" alt="Calendar Image">
            </div>
            <div>
                <img loading="lazy" class="unselectable" src="/assets/images/dashboard/dashboard-man-working.svg" alt="Man Working">
            </div>
            <div class="tryit-btn">
                <div class="decor-btn">
                    <button color="accent" routerLink="/signup" mat-raised-button>Try it now</button>
                    <p>free for personal use</p>
                </div>
                <div class="motto-img">
                    <img loading="lazy" class="unselectable" src="/assets/images/dashboard/dashboard-motto.svg" alt="Application Motto">
                </div>
            </div>
            <div>
                <img loading="lazy" class="unselectable" src="/assets/images/dashboard/dashboard-calendar-events.svg" alt="Calendar Event Image">
            </div>
            <div>
                <img loading="lazy" class="unselectable" src="/assets/images/dashboard/dashboard-team-meeting.svg" alt="Team Meeting">
            </div>
        </div>
    </div>
</div>