@import "variables";

body {
    font-family: 'Work Sans', sans-serif !important;
    background-color: $background;
}

.logo-marking {
    color: $logo-mark;
}

.mat-icon {
    vertical-align: middle;
}

// Unselectable image
.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

// Button spinner
.btn-spinner {
    height: 2.25rem;
    .mat-progress-spinner {
        margin: auto;
    }
}

// Alert Snackbars
.green-snackbar {
    background: rgb(65, 252, 134) !important;
    color: black !important;
}

.red-snackbar {
    background: #F44336 !important;
    color: white !important;
}

.red-snackbar button {
    color: white;
}