@import "variables";

body {
    font-family: 'Work Sans', sans-serif !important;
    background-color: $background;
}

.logo-marking {
    color: $logo-mark;
}

.mat-icon {
    vertical-align: middle;
}

.unselectable {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}