// Main Colors
$dark-blue: #02073E;
$blue: #3026B9;
$background: #FAFCFF;
$border: #EFF1F6;
$logo-mark: #FC38B4;
$radius: 10px;

// General Colors
$white: white;
$black: black;

$grey-1: #F3F3F3;


// RGBA Colors
$underline-decor: rgba(252, 56, 180, 0.5);
